.7_44 { 
	overflow:hidden;
}.e7_44 { 
	background-image:linear-gradient(0deg, rgba(255, 137.4380475282669, 94.56250101327896, 1) 0%,rgba(76.0000030696392, 76.0000030696392, 76.0000030696392, 1) 100%) ;
	width:1440px;
	height:960px;
	position:absolute;
}.7_46 { 
	border:5px solid rgba(0, 0, 0, 1);
}.e7_46 { 
	width:585px;
	height:763px;
	position:absolute;
	left:427px;
	top:99px;
	border-top-left-radius:102px;
	border-top-right-radius:102px;
	border-bottom-left-radius:102px;
	border-bottom-right-radius:102px;
	background-image:url(images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e7_67 { 
	color:rgba(255, 255, 255, 1);
	width:140px;
	height:41px;
	position:absolute;
	left:484px;
	top:537px;
	font-family:Alef;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e7_69 { 
	color:rgba(255, 255, 255, 1);
	width:269px;
	height:41px;
	position:absolute;
	left:484px;
	top:682px;
	font-family:Alef;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e7_66 { 
	color:rgba(255, 255, 255, 1);
	width:79px;
	height:41px;
	position:absolute;
	left:491px;
	top:397px;
	font-family:Alef;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e7_65 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.800000011920929);
	width:472px;
	height:81px;
	position:absolute;
	left:484px;
	top:723px;
	border-top-left-radius:70px;
	border-top-right-radius:70px;
	border-bottom-left-radius:70px;
	border-bottom-right-radius:70px;
}.e7_64 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.800000011920929);
	width:472px;
	height:81px;
	position:absolute;
	left:484px;
	top:580px;
	border-top-left-radius:70px;
	border-top-right-radius:70px;
	border-bottom-left-radius:70px;
	border-bottom-right-radius:70px;
}.e7_63 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.800000011920929);
	width:472px;
	height:81px;
	position:absolute;
	left:483px;
	top:440px;
	border-top-left-radius:70px;
	border-top-right-radius:70px;
	border-bottom-left-radius:70px;
	border-bottom-right-radius:70px;
}.e7_62 { 
	color:rgba(255, 255, 255, 1);
	width:294px;
	height:34px;
	position:absolute;
	left:529px;
	top:820px;
	font-family:Alef;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e7_61 { 
	color:rgba(255, 255, 255, 1);
	width:378px;
	height:124px;
	position:absolute;
	left:530px;
	top:280px;
	font-family:Alef;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e7_60 { 
	color:rgba(255, 255, 255, 1);
	width:393px;
	height:72px;
	position:absolute;
	left:536px;
	top:187px;
	font-family:Chelsea Market;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
}.7_48 { 
	border:5px solid rgba(0, 0, 0, 1);
}.e7_48 { 
	width:396px;
	height:94px;
	position:absolute;
	left:530px;
	top:52px;
	border-top-left-radius:80px;
	border-top-right-radius:80px;
	border-bottom-left-radius:80px;
	border-bottom-right-radius:80px;
	background-image:url(images/logo_1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e16_9 { 
	color:rgba(255, 255, 255, 1);
	width:78px;
	height:34px;
	position:absolute;
	left:830px;
	top:820px;
	font-family:Alef;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}